html {
  scroll-behavior: smooth;
}

body {  
  font-family: 'Oswald', sans-serif;
}
h6 {
  font-family: 'Open Sans', sans-serif;
}


#trabajos, #experiencia, #sobre-mi, #contacto {
  padding-top: 5em;
  margin-bottom: 1em;
}

#footer {
    background-color: #660066!important;
    padding: 1em;
}



.navbar-brand{
  font-family: 'Oswald', sans-serif;
}

.navbar-light .navbar-brand {
    color: #660066;
    font-size: 2em;
}

.sociales i {
  color: white;
  margin-top: 1em;
}